language: cpp

os: linux
dist: xenial

branches:
  only:
    - master

env:
  global:
    - BUILD_TYPE=DEBUG
    - OPTION=""

matrix:
  include:
    # gcc 5
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - ninja-build
      env: CXX_BIN=g++-5

    # gcc 6
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - ninja-build
      env: CXX_BIN=g++-6

    # gcc 7
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - ninja-build
      env: CXX_BIN=g++-7

    # gcc 8
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - ninja-build
      env: CXX_BIN=g++-8

    # gcc 9
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
            - ninja-build
      env: CXX_BIN=g++-9

    # gcc 10
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
            - ninja-build
      env: CXX_BIN=g++-9
      dist: bionic

    # gcc 10 (Release build)
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-10
            - ninja-build
      env: CXX_BIN=g++-10 BUILD_TYPE=release
      dist: bionic

#    # gcc 8 with LTO
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#          - ubuntu-toolchain-r-test
#          packages:
#          - g++-8
#          - ninja-build
#      env: CXX_BIN=g++-8 -DUSE_LTO=ON OPTION="-DUSE_LTO=ON"


    # clang 3.6
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - clang-3.6
            - ninja-build
      env: CXX_BIN=clang++-3.6

    # clang 3.7
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - clang-3.7
            - ninja-build
      env: CXX_BIN=clang++-3.7

    # clang 3.8
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - clang-3.8
            - ninja-build
      env: CXX_BIN=clang++-3.8

    # clang 3.9
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - clang-3.9
            - ninja-build
      env: CXX_BIN=clang++-3.9

    # clang 4.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-4
          packages:
            - g++-5
            - clang-4.0
            - ninja-build
      env: CXX_BIN=clang++-4.0

    # clang 5.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-5
          packages:
            - g++-5
            - clang-5.0
            - ninja-build
      env: CXX_BIN=clang++-5.0

    # clang 6.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-6
          packages:
            - g++-5
            - clang-6.0
            - ninja-build
      env: CXX_BIN=clang++-6.0

    # clang 7.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-7
          packages:
            - g++-5
            - clang-7
            - ninja-build
      env: CXX_BIN=clang++-7

    # clang 8.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-8
          packages:
            - g++-5
            - clang-8
            - ninja-build
      env: CXX_BIN=clang++-8

    # clang 9.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-9 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - g++-5
            - clang-9
            - ninja-build
      env: CXX_BIN=clang++-9

    # clang 10.0
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - g++-5
            - clang-10
            - ninja-build
      env: CXX_BIN=clang++-10

    # clang 10.0 (Release build)
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - g++-5
            - clang-10
            - ninja-build
      env: CXX_BIN=clang++-10 BUILD_TYPE=release

    # clang (Release build), ARM64
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++
            - clang
            - ninja-build
            - libpcre3-dev
            - libtool
      arch: arm64
      dist: bionic
      env: CXX_BIN=clang++ BUILD_TYPE=release

    # MacOS
    - os: osx
      compiler: clang
      env: CXX_BIN=clang++ BUILD_TYPE=release
      before_script:
        - brew install ninja

    # clang 10.0 with address sanitizer
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - g++-5
            - clang-10
            - llvm-10
            - ninja-build
      env: CXX_BIN=clang++-10 OPTION="-DSANITIZER=address"

#    # clang 8.0 with address sanitizer, ARM64
#    - addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#            - llvm-toolchain-xenial-8
#          packages:
#            - g++-5
#            - clang-8
#            - ninja-build
#            - libpcre3-dev
#            - libtool
#      arch: arm64
#      env: CXX_BIN=clang++-8 OPTION="-DSANITIZER=address"

    # clang 10.0 with undefined behavior sanitizer
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - g++-5
            - clang-10
            - ninja-build
      env: CXX_BIN=clang++-10 OPTION="-DSANITIZER=undefined"

#    # clang 8.0 with undefined behavior sanitizer, ARM64
#    - addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#            - llvm-toolchain-xenial-8
#          packages:
#            - g++-5
#            - clang-8
#            - ninja-build
#            - libpcre3-dev
#            - libtool
#      arch: arm64
#      env: CXX_BIN=clang++-8 OPTION="-DSANITIZER=undefined"

    # clang 10.0 with fuzzing
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - g++-5
            - clang-10
            - ninja-build
      env: CXX_BIN=clang++-10 OPTION="-DFUZZING_BUILD_MODE=on"

    # gcc7 with coverage
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
            - g++-7
            - ninja-build
      env: CXX_BIN=g++-7 BUILD_TYPE=coverage OPTION="-DCMAKE_C_COMPILER=gcc-7"
      before_script:
        - pip install --user cpp-coveralls
      after_success:
        - |
          coveralls -r ../ -b . --gcov-options '\-lp' \
                    --exclude test --exclude fuzzing --exclude include \
                    --exclude-pattern .*-src \
                    --exclude-pattern .*-build \
                    --exclude-pattern '.*/CMakeFiles*' \
                    --exclude-pattern '.*/nextToken\.cpp' \
                    --exclude-pattern '.*/tools/json/lexer\.cpp' \
                    --exclude-pattern '.*/tools/uri/uri_parser\.cpp' \
                    --exclude-pattern '.*/tools/process/ansi\.cpp' \
                    --exclude-pattern '.*/tools/gen_binding/DescLexer\.cpp' \
                    --exclude-pattern '.*\.re2c\.cpp'

script:
  - uname -a
  - mkdir build && cd build
  - cmake .. -G Ninja -DCMAKE_CXX_COMPILER=$CXX_BIN -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_EXTRA_TEST=on $OPTION
  - ninja
  - sudo ninja install
  - ./ydsh ../tools/scripts/copy_mod4extra.ds
  - ctest --output-on-failure

notifications:
  emails:
    - s.nagisa.xyz@gmail.com
  on_success: change
  on_failure: always
