language: cpp

os: linux
dist: bionic

branches:
  only:
    - master

env:
  global:
    - BUILD_TYPE=DEBUG
    - OPTION=""

matrix:
  include:
    # clang (Release build), ARM64
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++
            - clang-10
            - ninja-build
            - libpcre2-8-0
            - libpcre2-dev
      arch: arm64-graviton2
      dist: bionic
      env: CXX_BIN=clang++-10 BUILD_TYPE=release

script:
  - uname -a
  - mkdir build && cd build
  - cmake .. -G Ninja -DCMAKE_CXX_COMPILER=$CXX_BIN -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_EXTRA_TEST=on $OPTION
  - ninja
  - sudo ninja install
  - ./ydsh ../tools/scripts/copy_mod4extra.ds
  - ctest --output-on-failure

notifications:
  emails:
    - s.nagisa.xyz@gmail.com
  on_success: change
  on_failure: always
