version: 2.1

jobs:
  build-on-gcc:
    machine:
      image: ubuntu-2404:2024.11.1
    resource_class: arm.medium
    steps:
      - checkout
      - run: uname -a
      - run: sudo apt update
      - run: sudo apt install -y build-essential g++ cmake language-pack-ja ninja-build libpcre2-8-0 libpcre2-dev
      - run: sh scripts/run_all_test.sh g++
  build-on-clang:
    machine:
      image: ubuntu-2404:2024.11.1
    resource_class: arm.medium
    steps:
      - checkout
      - run: uname -a
      - run: sudo apt update
      - run: sudo apt install -y build-essential g++ libstdc++6 lld clang cmake language-pack-ja ninja-build libpcre2-8-0 libpcre2-dev
      - run: sh scripts/run_all_test.sh clang++
workflows:
  build:
    jobs:
      - build-on-gcc
     # - build-on-clang
