name: "Coverage"

on:
  push:
    branches: [ master, ]

jobs:
  build_on_linux_coverage:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: prepare
        run: |
          sudo apt update
          sudo apt install ninja-build lcov language-pack-ja
      - name: configure
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja \
                -DCMAKE_BUILD_TYPE=coverage \
                -DCMAKE_C_COMPILER=gcc \
                -DCMAKE_CXX_COMPILER=g++ \
                -DUSE_EXTRA_TEST=on
      - name: build
        run: |
          cd build
          ninja
          sudo ninja install
          ./arsh ../scripts/copy_mod4extra.ds
      - name: test
        run: |
          cd build
          ctest --output-on-failure
      - name: generate lcov
        run: |
          ./scripts/report_cov.ds build
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@2.2.3 
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./build/coverage_report-cleaned.info
