name: MacOS

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - 'v*'

jobs:
  build_on_mac_13:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: prepare
        run: brew install ninja re2c
      - name: configure
        run: |
          export SDKROOT="$(xcrun --sdk macosx --show-sdk-path)"
          mkdir build
          cd build
          cmake .. -G Ninja -DUSE_EXTRA_TEST=on -DUSE_LOGGING=on
      - name: build
        run: |
          cd build
          ninja
          ninja install
          ./arsh ../scripts/copy_mod4extra.ds
      - name: test
        run: |
          cd build
          touch log.txt
          ARSH_DEBUG_LOG=$(realpath log.txt) ctest -j4 --output-on-failure
      - name: on-failure
        if: failure()
        run: |
          cat build/log.txt

  build_on_mac_14:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: prepare
        run: brew install ninja re2c
      - name: configure
        run: |
          export SDKROOT="$(xcrun --sdk macosx --show-sdk-path)"
          mkdir build
          cd build
          cmake .. -G Ninja -DUSE_EXTRA_TEST=on -DUSE_LOGGING=on
      - name: build
        run: |
          cd build
          ninja
          sudo ninja install
          ./arsh ../scripts/copy_mod4extra.ds
      - name: test
        run: |
          cd build
          touch log.txt
          ARSH_DEBUG_LOG=$(realpath log.txt) ctest -j4 --output-on-failure
      - name: on-failure
        if: failure()
        run: |
          cat build/log.txt

  build_on_mac_15:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: prepare
        run: brew install ninja re2c
      - name: configure
        run: |
          export SDKROOT="$(xcrun --sdk macosx --show-sdk-path)"
          mkdir build
          cd build
          cmake .. -G Ninja -DUSE_EXTRA_TEST=on -DUSE_LOGGING=on
      - name: build
        run: |
          cd build
          ninja
          sudo ninja install
          ./arsh ../scripts/copy_mod4extra.ds
      - name: test
        run: |
          cd build
          touch log.txt
          ARSH_DEBUG_LOG=$(realpath log.txt) ctest -j4 --output-on-failure
      - name: on-failure
        if: failure()
        run: |
          cat build/log.txt
