name: Upload Release Asset

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: prepare
        run: |
          sudo apt update
          sudo apt install language-pack-ja ninja-build \
               g++-13 clang-15 lld lld-15 llvm-15 llvm-15-dev
      - name: configure
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja \
                -DCMAKE_BUILD_TYPE=RELWITHDEBINFO \
                -DUSE_LTO=on
      - name: build
        run: |
          cd build
          ninja
      - name: test
        run: |
          cd build
          ctest -j4 --output-on-failure
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
#          files: 'build/*.rpm'   # try build packages, but not upload theme