name: Upload Release Asset

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      #      - name: Build Packages
      #        uses: ./tools/dockerfiles/cpack-rpm-build
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
#          files: 'build/*.rpm'