name: Shared Library

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - 'v*'

jobs:
  build_on_linux_ubuntu24_04_release_shared:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        cc: [ g++-14, clang++-18 ]
        #        option: [ on, off ]
        option: [ off ]
    steps:
      - uses: actions/checkout@v4
      - name: prepare
        run: |
          sudo apt update
          sudo apt install language-pack-ja ninja-build lld lld-18 llvm-18 llvm-18-dev
      - name: configure
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja \
                -DCMAKE_BUILD_TYPE=release \
                -DCMAKE_CXX_COMPILER=${{ matrix.cc }} \
                -DUSE_LTO=${{ matrix.option }} \
                -DBUILD_SHARED_LIB=ON \
                -DUSE_EXTRA_TEST=on
      - name: build
        run: |
          cd build
          ninja
          sudo ninja install
          arsh ../scripts/copy_mod4extra.ds
      - name: test
        run: |
          cd build
          ctest -j4 --output-on-failure
